
h2 {
    text-align: center; 
    margin: 1.25em;
    font-size: 1.5em;
}

h3{
    margin-bottom: 2em;
}

#description_years .description {
    display: none;
}

#description_years .active {
    display: block;
}


#table_section .tbl{
    display: none;
}
#table_section .active{
    display: block;
}

#investments_detail {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 0.5em; 
}

#investments_section {
    width: 100%;
    height: 100%;
    background-color: white;
}

#list_years{
    margin: 0.5em;
    margin-left: 0em;
    font-size: 1em;
}

#graph_section {
    width: 100%;
    height: 30em;
    background-color: white;
}

#table_section {
    width: 100%;
    height: 20em;
    background-color: white;
}
#table_section table caption {
    white-space: nowrap;
}

#table_section table th, #table_section table td {
    text-align: left; 
}

#container_years p::after {
	content: '';
	display: block;
	margin-top: 0.25em;
    width: 5em;
	border: solid var(--mobileLineDivider) 1px;
}
main {
    padding: 0.5em;
}
@media screen and (min-width: 750px) {
    main {
        width: 70%; /* Adjust as needed */
    }
}
  

  

