

header h1 {
	text-align: center;
}


/*

===== NAV BAR - START =====
*/

nav ul li {
	display: inline;
	list-style: none;
	padding: .3em;
	/*border: solid red 1px;
	/*debug*/
}

nav ul li a,
aside a {
	color: var(--linkColor);
	/*border: solid 1px white;
	/*debug*/
	padding: .5em;
}

nav ul li a {
	display: inline-block;
	/*border: solid 1px white;
	/*debug*/
	padding: .5em;
	transition: transform 400ms ease;

}

nav #closeMenu {
	display: none;
}

#responsiveNav {
	display: none;
}

nav #menuLink {
	margin: auto;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
}

nav ul li .active {
	color: white !important;
	text-decoration: none !important;
}

nav ul li a:visited,
aside a:visited {
	color: var(--visitedLinkColor);
}

nav ul li a:hover:not(.active) {
	transform: scale(1.15);
}

nav .active:hover {
	text-decoration: underline !important;
}

#loginIcon {
	vertical-align: middle;
	padding-right: 3px;
}

#search-icon {
	cursor: pointer;
	background-color: lightblue;
	border: solid 1px white;
	color: black;
}

aside {
	display: flex;
	flex-direction: column;
	align-items: end;
}

aside a {
	width: fit-content;
}

#search {
	border: solid darkslategray;
	border-radius: 13px;
	margin-top: 5px;
	padding: 5px;
}

#breadcrumb {
	display: none;
}

@media only screen and (max-width: 1000px)

/*laptop 1024px*/
	{
	#breadcrumb {
		display: none;
	}

	form {
		display: none;
	}

}

@media only screen and (max-width: 700px)

/* tablet 768px*/
	{
	#breadcrumb {
		display: block;
		padding: .5em 1em .5em .5em;
		background-color: rgb(40, 61, 110);
		width: 50%;
		border: solid black 1px;
		border-left: none;
		border-radius: 0 100px 20px 0;
		word-break: break-word;
	}

	header nav ul {
		margin: 1em 0;
		background-color: rgb(40, 40, 90);
	}


	.headerNav ul li:not(:first-child) {
		display: none;
	}

	#adminArea {
		display: none;
	}

	header {
		display: block;
		align-items: center;
		padding: 0;
		padding-bottom: 2em;
	}

	header h1 {
		background-color: rgb(40, 61, 110);
	}

	header h1 img {
		max-width: 30%;
	}

	#responsiveNav {
		display: block;
		background-color: rgb(40, 61, 110);
		border-top: solid black 1px;
		border-bottom: solid black 1px;
	}

	/*===== MENU =====*/
	.headerNavResponsive li {
		display: block;
		text-align: center;
		padding: 0;
	}

	.headerNavResponsive ul li a {
		width: 100%;
	}

	.headerNavResponsive ul li:last-child {
		border-bottom: solid black 1px;
	}

	.headerNavResponsive ul li:hover {
		background-color: rgb(20, 20, 60);
	}
	
}

/*===== NAV BAR - END =====

*/

footer {
	min-height: 2vh;
	position: static;
	bottom: 0vh;
	width: 100%;
	margin-top: 5em;
	background-color: darkslategray;
	color: white;
}

footer p {
	text-align: center;
	padding: 1em 0;
}