
#howStarted{
	width: 90%;
	margin: auto;
}

#howStarted h2,
#founders h3 {
	text-align: center;
	padding-bottom: 1em;
}

#howStarted,
#founders {
	margin-top: 3em;
}

#howStarted p {
	text-align: justify;
	white-space: pre-line;
}

#founders::before {
	content: "";
	display: block;
	margin-bottom: 2em;
	width: 100%;
	border: solid 1px var(--mobileLineDivider);
}

#cardsContainer {
	display: flex;
	flex-direction: column;
}

#cardsContainer:nth-child(2) {
	gap: .5em;
}

.card {
	display: none;
	margin: auto;
	text-align: center;
	width: 50%;
}

.card img {
	width: 100%;
	box-shadow: 0 0 20px 3px rgb(200, 200, 200);
	border-radius: 10px;
	user-select: none;
}

.info {
	color: black;
	background-color: transparent;
	font-weight: bold;
	font-size: inherit;
	border: none;
	padding: .5em 1em;
	text-decoration: underline;
	cursor: pointer;
	transition: 0.5s ease;
}

.info:hover {
	border-radius: 0 0 10px 10px;
	background-color: lightsteelblue;
}

#cardsManager {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 1em;
}


.prev,
.next {
	cursor: pointer;
	padding: 0.8em;
	color: black;
	transition: 0.3s ease;
	background-color: transparent;
	border: none;
	user-select: none;
}

.prev {
	border-radius: 10px 0 0 10px;
}

.next {
	border-radius: 0 10px 10px 0;
}

.prev:hover,
.next:hover {
	background-color: darkslategray;
	color: white;
}

.cardDetails {
	display: none;
	margin: auto;
	background-color: lightsteelblue;
	color: black;
	padding: 1em;
	border: none;
	border-radius: 10px;
}

.cardDetails dt {
	display: inline;
	font-weight: bold;
}

.cardDetails dd {
	display: inline;
	white-space: pre-line;
}

.cardDetails dd::after {
	content: '\a';
	white-space: pre;
}

#closeDetails {
	margin-top: 1.5em;
	background-color: white;
	color: black;
	font-weight: bold;
	padding: .7em 1em;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	user-select: none;
}

#closeDetails:hover {
	background-color: whitesmoke;
	text-decoration: underline;
}


.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

@media only screen and (max-width: 250px) {

	.info{
		width: 100%;
	}

	body {
		hyphens: auto;
	}
	
	#cardsContainer .card{
		width: 100%;
	}

}