#topNavBar {
	display: block;
}

nav ul li {
	display: inline;
	padding: .5em;
}

h2{
	margin-bottom: 1em;
}

h2, p{
	padding-left: 1em;
}

nav ul li a:visited {
	color: var(--visitedLinkColor);
}

nav ul li a {
	padding: 1em .5em;
	color: var(--linkColor);
}

nav ul {
	color: white;
	margin: 2em auto;
	padding: 1em;
	background-color: var(--headerBgColor);
	text-align: center;
}

#userName{
	text-transform: capitalize;
}

#userRole{
	font-weight: bold;
}
