#header {
	background-color: var(--headerBgColor);
	color: var(--headerTxtColor);
	padding-bottom: 1em;
}

.material-symbols-outlined {
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

#topNavBar {
	display: flex;
	gap: 2em;
	align-items: center;
	justify-content: flex-end;
	/* flex-wrap: wrap; CHECK!! */
}

#textLogo {
	display: flex;
	flex-wrap: wrap;
	padding-left: .5em;
	row-gap: 5px;
	width: fit-content;
	font-weight: normal;
	text-transform: uppercase;
}

#textLogo .logoFirstHalf {
	text-transform: uppercase;
	font-weight: bold;
}
/*
#navBar ul li {
	display: inline;
	list-style: none;
	padding: .3em;
	/*border: solid red 1px;
	/debug*
}
*/


#navBar ul li a{
	/*display: inline-block;
	border: solid 1px white;
	/*debug*/
	padding: .5em;
	transition: transform 400ms ease;

}

#menuLink {
	margin-left: auto;
	color: white;
	font-weight: bold;
	font-size: larger;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	background: transparent;
	border: none;
	padding: .5em .6em;
	cursor: pointer;
	transition: transform 400ms ease;
}


#topNavBar .menuLinkOpened {
	background-color: var(--responsiveLinkBgColor);
}

#navBar ul li a:hover{
	transform: scale(1.15);
}

#loginIcon {
	vertical-align: middle;
	padding-right: 3px;
}

#breadcrumb {
	padding-left: .5em;
	margin-top: 1em;
}

.headerNavResponsive ul {
	background-color: var(--responsiveLinkBgColor);
	z-index: 1;
	overflow: hidden;
	text-align: center;
	position: absolute;
	left: 0;
	width: 100%;
	border: none;
	border-bottom: solid black 1px;
	border-top: solid 2px black;
}


#header .headerNav ul li {
	display: none;
}

.headerNavResponsive ul li {
	display: block;
	text-align: center;
	width: 100%;
}

.headerNavResponsive ul li a {
	display: inline-block;
	width: 100%;
}

.headerNavResponsive ul li:hover {
	background-color: var(--responsiveLinkHoverBgColor);
}

.headerNavResponsive ul li:first-child {
	margin-top: 1em;
}

.headerNavResponsive ul li:last-child {
	margin-bottom: .5em;
}

#footer {
	position: static;
	margin-top: 5em;
	padding: 1em;
	background-color: darkslategray;
	color: white;
}

footer #ZCLogo {
	width: 6em;
	margin-bottom: 2em;
}

footer dl dt {
	font-weight: bold;
}

footer dl dd {
	margin-bottom: 1.5em;
}

section h4 {
	text-transform: uppercase;
	margin-top: 3em;
}

section nav {
	text-align: left;
}

#socialIcons a img {
	width: 100%;
	border-radius: 10px;
}

#socialIcons a {
	transition: 400ms ease;
}

#socialIcons a:hover {
	transform: scale(1.1);
	/*	transform: translateY(-7px);*/
}

footer #copyright {
	margin: 2em 0 .5em 0;
	text-align: center;
}

footer #copyright p:nth-child(2) {
	margin-top: 1em;
	background: linear-gradient(to right, darkslategray 20%, var(--headerBgColor) 40%, var(--responsiveLinkBgColor) 60%, var(--responsiveLinkBgColor) 80%, darkslategray);
	padding: .5em 0;
}

footer #copyright::before {
	content: '';
	display: block;
	margin-bottom: .5em;
	width: 100%;
	border: dashed 2px white;
}

footer #socialIcons {
	list-style: none;
	padding-top: 1em;
	display: grid;
	grid-template-columns: repeat(auto-fit, 5em);
	column-gap: 2em;
	row-gap: 1em;
}

footer .linkList {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

footer .linkList>* {
	flex: 0 1 fit-content;
	margin: 0 1em;
}

footer .linkList li a:before {
	border-right: 2px solid white;
	border-top: 2px solid white;
	content: "";
	display: inline-block;
	height: 7px;
	margin-right: 10px;
	margin-top: 7px;
	transform: rotateZ(45deg);
	vertical-align: top;
	width: 7px
}

@media only screen and (max-width: 250px) {
	#topNavBar {
		padding-top: .5em;
		flex-direction: column;
		align-items: center;
		gap: 1em;
	}

	#menuLink {
		width: 100%;
	}

	footer #socialIcons,
	footer .linkList {
		display: flex;
		flex-direction: column;
	}

	#socialIcons a img {
		min-width: 2em;
		max-width: 60%;
	}

	footer .linkList>* {
		line-height: 2em;
	}

}