
header {
	background-color: var(--headerBgColor);
	color: var(--headerTxtColor);
	padding: 1em;
}


#textLogo {
	display: flex;
	flex-wrap: wrap;
	row-gap: 5px;
	color: white;
	width: fit-content;
	font-weight: normal;
	text-transform: uppercase;
}

#textLogo .logoFirstHalf {
	text-transform: uppercase;
	font-weight: bold;
}


footer {
	min-height: 2vh;
	position: static;
	bottom: 0vh;
	width: 100%;
	margin-top: 5em;
	background-color: darkslategray;
	color: white;
}

footer p {
	text-align: center;
	padding: 1em 0;
}

@media only screen and (max-width: 250px) {

	#textLogo {
		word-break: break-all;
	}

}
