#srollableContent button {
	position: absolute;
	top: 0;
}

#welcomeText,
#highlights {
	padding: 2em 0;
}

.socialMsg {
	padding: 0 3px;
	margin-bottom: .5em;
}

.socialSpan {
	padding: 0 3px !important;
}

.socialMsg:last-child {
	text-align: center;
	padding-top: 5px;
	color: rgb(69, 69, 69);
	font-weight: bold;
}

#welcomeText {
	position: relative;
	height: 60dvh;
	background: no-repeat url(../images/KLblur.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

#welcomeText h2 {
	margin-top: 1em;
	font-size: 175%;
	line-height: 1.5em;
	backdrop-filter: blur(2px);
	padding: 5px;
	color: rgb(0, 30, 0);
}

#welcomeText h3 {
	backdrop-filter: blur(10px);
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 1em 0;
	border-radius: 0 0 1em 1em;
}

#welcomeText>* {
	text-align: center;
}

#welcomeText span {
	display: block;
}

#highlights::before,
#socialRoom::before {
	content: "";
	display: block;
	margin-bottom: 2em;
	width: 100%;
	border: solid 1px var(--mobileLineDivider);
}

#highlights h2,
#socialRoom h2 {
	margin-bottom: 1em;
	text-align: center;
}

#lastUp {
	padding-right: 3px;
	padding-left: 3px;
	text-align: left;
}

.highlight {
	padding: .5em 3px;
	border-top: solid 1px var(--mobileLineDivider);
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

#highlights article:last-of-type {
	border-bottom: solid 1px var(--mobileLineDivider);
	margin-bottom: 1em;
}

.highlight p {
	margin-left: 3px;
}

.highlight abbr {
	padding-left: .5em;
}

/* <SOCIAL ROOM> */

#socialRoom:nth-last-child(4) {
	color: palegreen;
	text-align: center;
}

#scrollableContent {
	display: flex;
	gap: 2em;
	padding: 1em 0;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
}

#scrollableContent .content {
	scroll-snap-align: center;
	max-height: 75dvh;
	flex: 0 0 18em;
	display: flex;
	flex-direction: column;
	border: solid rgb(69, 69, 69) 1px;
	border-radius: 10px;
	box-shadow: 0 0 10px 1px rgb(150, 150, 150);
}

.content header {
	/*min-height: 20%;*/
	border-bottom: solid 1px var(--newsHdColor);
}

.content footer {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: flex-end;
}

.content h3 {
	text-align: center;
	padding: 3px;
	color: var(--newsHdColor);

}

.socialInfo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	border-radius: 10px 10px 0 0;
	/*border-bottom: solid 1px var(--mobileLineDivider);*/
	background-color: var(--mobWelcomeColor);
	color: white;
}

.socialInfo .socialIcon {
	border-radius: 10px;
	width: 3em;
	padding: 4px;
}

.mainContent {
	position: relative;
	flex-grow: 2;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 1em 0;
	padding: 0 1em;
}

.mainContent p {
	white-space: pre-wrap;
}

.author {
	color: rgb(69, 69, 69);
	padding-left: 3px;
	text-transform: capitalize;
}

.refLink {
	font-weight: bold;
	display: block;
	text-align: center;
	padding: .5em;
	border-radius: 0 0 10px 10px;
	background-color: var(--mobWelcomeColor);
	color: white;
}

.refLink:visited{
	color: var(--visitedLinkColor);
}

.refLinkBlank {
	visibility: hidden;
}

.content footer a:hover {
	background-color: rgb(0, 105, 130);
}

/* </SOCIAL ROOM> */

@media only screen and (max-width: 380px) {

	.highlight {
		display: block;
	}

	#scrollableContent .content {
		flex: 0 0 14em;
	}
	
	#welcomeText{
		background: none;
		background-color: var(--mobWelcomeColor);
		height: auto;
		color: white;
	}
	
	#welcomeText h2{
		margin-top: 0;
		color: white;
	}
	
	#welcomeText h2, #welcomeText h3{
		backdrop-filter: unset;
	}
	
	#welcomeText h3{
		position: static;
	}
	
	#highlights::before{
		display: none;
	}
	
	.socialInfo{
		padding: .5em;
	}

}

@media only screen and (max-width: 250px) {

	#scrollableContent .content {
		flex: 0 0 10em;
	}

}
