
h2 {
    text-align: center; 
    margin: 1.25em;
    font-size: 1.5em;
}

h3{
    margin-bottom: 2em;
}

.description_years .description {
    display: none;
}

.active {
    display: block;
}

.box3 table{
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 0.5em; 
}

.box1 {
    width: 100%;
    height: 100%;
    background-color: white;
}

.list_years{
    margin: 0.5em;
    margin-left: 0em;
    font-size: 1em;
}

.box2 {
    width: 100%;
    height: 30em;
    background-color: white;
}

.box3 {
    width: 100%;
    height: 20em;
    background-color: white;
}
.box3 table caption {
    white-space: nowrap;
}

.box3 table th, .box3 table td {
    text-align: left; 
}

.container_years p::after {
	content: '';
	display: block;
	margin-top: 0.25em;
    width: 5em;
	border: solid var(--mobileLineDivider) 1px;
}
main {
    padding: 0.5em;
}
@media screen and (min-width: 750px) {
    main {
        width: 70%; /* Adjust as needed */
    }
}
  

  

