
h2 {
    text-align: center; 
    margin: 1.75em;
    font-size: 3em;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.box1 {
    width: 100%;
    height: 100%;
    background-color: white;
}

.list_years{
    margin: 0.5em;
    margin-left: 0em;
}

.box2 {
    width: 100%;
    height: 50em;
    background-color: white;
}

.container_years p::after {
	content: '';
	display: block;
	margin-top: 1em;
    width: 5em;
	border: solid var(--mobileLineDivider) 1px;
}

  

  

