#login {
    width: auto;
    margin: 10% 10%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

#login label {
    display: block;
    margin-bottom: 10px;
}

#login input[type="text"], #login input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login button {
    width: 100%; 
    display: block;
    padding: 10px;
    margin: 20px auto; 
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

#login button:hover {
    background-color: #0056b3;
}