#header {
	background-color: var(--headerBgColor);
	color: var(--headerTxtColor);
	padding-bottom: 1em;
}


#textLogo {
	display: flex;
	flex-wrap: wrap;
	padding-left: .5em;
	row-gap: 5px;
	width: fit-content;
	font-weight: normal;
	text-transform: uppercase;
}

#textLogo .logoFirstHalf {
	text-transform: uppercase;
	font-weight: bold;
}

#topNavBar {
	padding: 1em 0;
	text-align: center;
}

#breadcrumb {
	padding-left: .5em;
	margin-top: 1em;
}

main {
	margin-top: 2em;
}

#footer {
	text-align: center;
	position: static;
	margin-top: 5em;
	padding: 1em;
	background-color: darkslategray;
	color: white;
}

footer #copyright p:nth-child(2) {
	margin-top: 1em;
	background: linear-gradient(to right, darkslategray 20%, var(--headerBgColor) 40%, var(--responsiveLinkBgColor) 60%, var(--responsiveLinkBgColor) 80%, darkslategray);
	padding: .5em 0;
}

footer #copyright::before {
	content: '';
	display: block;
	margin-bottom: .5em;
	width: 100%;
	border: dashed 2px white;
}

@media screen and (min-width: 768px) {
	main {
		width: 70%;

	}

	#breadcrumb {
		text-align: center;
	}
}

@media screen and (min-width: 1440px) {
	main {
		width: 50%;
	}
}