#explore {
    text-align: center;
    display: block;
    padding-top: 1em;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#slideshow {
    position: relative;
    justify-content: center;
}

#blue_horizon {
    width: 400px;
}

.info {
	box-sizing: content-box;
	color: black;
	width: fit-content;
	background-color: transparent;
	font-weight: bold;
	font-size: 1em;
	border: none;
	padding: .5em 1em;
	text-decoration: underline;
	cursor: pointer;
	transition: 0.5s ease;
}

.info:hover {
	border-radius: 0 0 10px 10px;
	background-color: lightsteelblue;
}

.prev, .next {
	position: absolute;
	bottom: 0;
	cursor: pointer;
	padding: 0.8em;
	color: black;
	transition: 0.5s ease;
	background-color: darkslategray;
	border: none;
	border-radius: 50%;
	user-select: none;
}

.prev {
	border-radius: 10px 0 0 10px;
	left: calc(0%+15%);
}

.next {
	border-radius: 0 10px 10px 0;
	right: 0;
}

.prev:hover,
.next:hover {
	background-color: darkslategray;
	color: white;
}

.slide_content img {
    display: block;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
	user-select: none;
}