#explore {
    text-align: center;
    display: block;
    padding-top: 1em;
	padding-bottom: 0.5em;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#slideshow {
	/*box-shadow: 0px -5px 15px 5px rgb(211, 211, 211);*/
	display: flex;
	flex-direction: column;
	width: 80dvw;
	height: 30dvh;
	margin: auto;
}

#slidenav {
	display: flex;
    column-gap: 2dvw;
    flex-direction: row;
    justify-content: center;
	margin-top: 6em;
}

.dot {
	cursor: pointer;
	height: 1.5em;
	width: 1.5em;
	margin: 1.5em 1dvw;
	border: none;
	border-radius: 50%;
	transition: background-color 0.6s ease;
}

.disable, .dot
{
	background-color: #bbb;
}

.enable, .dot:hover {
	background-color: #717171;
}

.caption {	
	text-align: center;
	margin: 2em 0;
	border: none;
	font-size: 1.2em;
	color: white;
	background-color: var(--headerBgColor);
	padding: 0.5em 1em;
}

.prev,
.next {
	padding: 0.5em 1em;
	cursor: pointer;
	font-size: 1.2em;
	color: white;
	transition: 0.3s ease;
	background-color: darkslategray;
	border: none;
	border-radius: 30px;
	user-select: none;
	height: 3em;
}

.active, .dot:hover {
	background-color: #717171;
}


.prev:hover,
.next:hover,
.prev:focus,
.next:focus {
	background-color: greenyellow;
	color: black;
}

.slide_content {
	display: none;
	text-align: center;
	margin: auto;
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.visible, .slide_content
{
	display: block;
}

.hidden, .slide_content
{
	display: hidden;
}

.slideimg {
	text-align: center;
	height: 100%;
	width: 100%;
	object-fit: contain;
	margin-bottom: 2em;
}