* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	--headerBgColor: rgb(40, 40, 90);
	--hdBgSoftColor: rgb(40, 61, 110);
	--responsiveLinkBgColor: rgb(40, 40, 90);
	--responsiveLinkHoverBgColor: rgb(20, 20, 60);
	--headerTxtColor: rgb(255, 255, 255);
	--bgColor: rgb(245, 245, 245);
	--txtColor: rgb(0, 0, 0);
	--footerBgColor: rgb(0, 0, 0);
	--footerTxtColor: rgb(255, 255, 255);
	--mobWelcomeColor: rgb(10, 50, 90);
	--flagColor: rgb(218, 103, 66);
	--linkColor: rgb(255, 255, 255);
	--visitedLinkColor: rgb(255, 255, 200);
	--font-body-family: "Roboto Condensed", sans-serif;
	--mobileLineDivider: rgba(60, 60, 60, .4);
	--newsHdColor: rgb(0, 105, 130);
}

html {
	font-size: 100%;
	font-family: var(--font-body-family);
	line-height: 1.5em;
	margin: auto;
	box-sizing: border-box;
}

body {
	background-color: var(--bgColor);
}

main {
	margin: auto;
	background-color: var(--bgColor);
	color: var(--txtColor);
}

.goUp {
	position: fixed;
	background-color: var(--headerBgColor);
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	bottom: 2em;
	right: 1em;
	height: 6em;
	width: 6em;
	padding: .5em;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	box-shadow: 0 0 30px 1px rgb(30, 30, 30);
}

.hidden{
	display: none;
}

.visible{
	display: block;
}

#header a,
#footer a {
	color: var(--linkColor);
}

#header a:visited,
#footer a:visited {
	color: var(--visitedLinkColor);
}

.goUp span {
	font-size: 2em;
}

.goUp:hover {
	background-color: var(--responsiveLinkBgColor);
}

@media only screen and (min-width: 1024px) {
	.goUp {
		right: 5%;
	}

}