* {
	margin: 0;
	padding: 0;
}

:root {
	--headerBgColor: rgb(40, 61, 110);
	--responsiveLinkBgColor: rgb(40, 40, 90);
	--responsiveLinkHoverBgColor: rgb(20, 20, 60);
	--headerTxtColor: rgb(255, 255, 255);
	--bgColor: rgb(255, 255, 255);
	--txtColor: rgb(0, 0, 0);
	--footerBgColor: rgb(0, 0, 0);
	--footerTxtColor: rgb(255, 255, 255);
	--visitedLinkColor: rgb(236, 106, 151);
	--flagColor: rgb(218, 103, 66);
	--linkColor: rgb(255, 255, 255);
	--font-body-family: "Roboto Condensed", sans-serif;
	--mobileLineDivider: rgba(60, 60, 60, .7);
}

html {
	font-size: 100%;
	font-family: var(--font-body-family);
	line-height: 1.5em;
	margin: auto;
}

main {
	background-color: var(--bgColor);
	color: var(--txtColor);
	margin: auto;
	width: 80%;
}

.goUp{
	position: fixed;
	background-color: var(--headerBgColor);
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	bottom: 3em;
	right: 1em;
	height: 6em;
	width: 6em;
	padding: .5em;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	box-shadow: 0 0 30px 1px rgb(30, 30, 30);
}

.hidden {
	display: none;
}

.goUp span{
	font-size: 2em;
}

.goUp:hover{
	background-color: var(--responsiveLinkBgColor);
}

