#topNavBar{
	display: block;
}

.newsInDb{
	margin-bottom: 1em;
	text-transform: capitalize;
}

nav ul li {
	display: inline;
	padding: .5em;
}

nav ul li a:visited{
	color: var(--visitedLinkColor);
}

nav ul li a {
	padding: 1em .5em;
	color: var(--linkColor);
}

nav ul {
	color: white;
	margin: 2em auto;
	padding: 1em;
	background-color: var(--headerBgColor);
	text-align: center;
}

#newNewsCont {
	padding-bottom: 3em;
	border-bottom: solid 2px var(--headerBgColor);
}

form {
	margin: 1em 1em 0 1em;
}

h2 {
	background-color: var(--headerBgColor);
	color: white;
	padding: 1em;
	width: fit-content;
	border-radius: 0 50px 0 0;
}

#editNewsCont ul li{
	list-style: none;
}

fieldset .title {
	width: 100%;
}

fieldset input {
	height: 2em;
	font-size: 110%;
}

form fieldset {
	background-color: white;
	padding: 1em;
	width: 90%;
	border-color: var(--headerBgColor);
}

.description {
	padding: 1em;
	width: 100%;
	resize: vertical;
}

.news-d-t-d>*,
.socialReference>* {
	margin-bottom: .5em;
}

.submitControl {
	border-top: solid 1px var(--mobileLineDivider);
	padding-top: 1em;
	display: flex;
	justify-content: space-between;
}

.submitControl button {
	padding: .5em;
	font-size: larger;
	cursor: pointer;
	border-radius: 10px;
	border: solid 1px var(--mobileLineDivider);
}

.submitControl button:focus{
	background-color: transparent;
	border: none;
	outline: thick double rgb(22, 80, 105);
}

.submitControl button span{
	padding-left: 3px;
}

.submitControl #resetFields {
	color: white;
	background-color: rgb(90, 0, 0);
}

.submitControl #resetFields:hover {
	background-color: rgb(70, 0, 0);
}

.submitControl #submitNew {
	/*background-color: rgb(90, 250, 90);*/
	margin-left: 5em;
	text-align: right;
}

.submitControl #submitNew:hover {
	background-color: rgb(150, 230, 160);
}

.submitControl .submitEdt{
	color: rgb(75, 45, 40);
}

.submitControl .submitEdt:hover, .submitControl .submitDel:hover{
	background-color: transparent;
}

.submitControl .submitDel{
	color: rgb(80, 0, 0);
}

#editNewsCont {
	margin-top: 3em;
}

#fetchResult {
	margin-top: 2em;
	text-align: center;
	border: groove 2px var(--headerBgColor);
	border-left: none;
	border-right: none;
}

.socialIcon {
	border-radius: 10px;
	padding: 5px;
	width: 4em;
	border: solid 1px var(--mobileLineDivider);
	vertical-align: middle;
}

@media only screen and (min-width: 1024px) {
	main {
		width: 70%;
	}

}

@media only screen and (min-width: 1440px) {
	main {
		max-width: 50%;
	}

}