#header {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}

#header .headerNav ul li {
	display: inline;
}

#topNavBar {
	padding: 1em 0;
	justify-content: center;
	background-color: rgb(40, 61, 110);
}

#menuLink {
	display: none;
}

#header {
	justify-content: space-between;
	margin: auto;
}

#breadcrumb {
	width: 100%;
	margin: 0;
}

#navBar {
	background-color: var(--responsiveLinkBgColor);
	width: 100%;
	text-align: center;
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1440px) {

	#navBar,
	#header,
	#footer {
		text-align: center;
	}
	.linkList,
	#socialIcons {
		justify-content: center;
	}


	#footerZcWrapper {
		width: max-content;
		margin: auto;
		display: grid;
		grid-template-columns: repeat(2, minmax(max-content, 1fr));
		column-gap: 5em;
		justify-items: center;
	}

}