#explore {
    text-align: center;
    display: block;
    padding: 0.5em 0em;
    font-size: 1.5em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#slideshow {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

#slidenav {
	display: flex;
    column-gap: 30vh;
    flex-direction: row;
    justify-content: center;
}

.info {
	display: flex;
	text-align: center;
    width: fit-content;
	color: white;
	background-color: darkslategray;
	font-weight: bold;
	font-size: inherit;
	padding: 1em 1em 1em 1em;
	text-decoration: underline;
    margin-bottom: 1em;
    margin-left: auto;
    border: 1px solid;
	cursor: pointer;
	transition: 0.5s ease;
}

.info:hover {
	border-radius: 70px;
	background-color: greenyellow;
    color: black;
}

.prev,
.next {
    display: inline-block;
	cursor: pointer;
	padding: 0.8em;
	color: white;
    margin-bottom: 1em;
	transition: 0.3s ease;
	background-color: darkslategray;
	border: none;
	user-select: none;
}

.prev {
	border-radius: 10px 0 0 10px;
}

.next {
	border-radius: 0 10px 10px 0;
}

.prev:hover,
.next:hover {
	background-color: greenyellow;
	color: black;
}

.slideimg {
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    width: auto;
    max-height: 70vh;
    margin-left: auto;
    margin-right: auto;
	user-select: none;
}

.slide_content {
	display: none;
	text-align: center;
}